<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- CDN tailwindCSS-->
<script src="https://cdn.tailwindcss.com"></script>
	<script>
		tailwind.config = {
			theme: {
				extend: {
					animation:{
						'scale-once': 'scale-once 1s '
					},
					colors: {
						clifford: '#da373d',
					},
				}
			}
		}
	</script>
<!-- Icona -->
  <link rel="icon" href="/images/iconaLogin.PNG" type="image/png">
  <link rel="apple-touch-icon" href="  /images/iconaLogin.PNG">

<link rel="stylesheet" href="/css/style.css">

<title>Login - SpringBlog</title>
</head>
<body class="background-custom">
	<div class="w-screen h-dvh flex justify-center items-center">
			<div class="p-6 border border-gray-300 rounded-xl w-[300px] h-[450px] bg-white  shadow-lg shadow-blue-500/50">
				<div class="flex justify-end text-gray-500 hover:underline underline-offset-2 mb-2">
					<a th:href="@{/utente/create}">Registrati</a>							
				</div>
				<div class="flex flex-col justify-center items-center text-center p-3 mb-2">
					<img class="w-[55px] h-auto mb-3" src="/images/iconaLogin.PNG">
					<h1>SpringBlog - Login</h1>				
				</div>
				<div>
					<form th:action="@{/login}"
						method="post">
						<fieldset class="">
							   <div class="p-1 text-center text-red-600" th:if="${param.error}">    
								       Username e Password non validi.
							   </div>
							   <div th:if="${param.logout}" class="text-center text-green-400 mb-2"> 
								       Logout avvenuto con successo.
							   </div>
							   <div class=" w-full flex flex-col justify-center items-center">
								   <div class="mb-5">
									   <input placeholder="Username" class="w-[250px] h-8 ps-4 rounded-lg bg-sky-100 " type="text" id="username" name="username">        
								   </div>
								   <div class="mb-8">
									   <input placeholder="Password" class="w-[250px] h-8 ps-4 rounded-lg bg-sky-100" type="password" id="password" name="password">    								
								   </div>
								
							   </div>
							   <div class="text-center mb-4">
							       <button type="submit" class="px-3 py-2 bg-[#FF76E9] border border-gray-300 rounded-xl text-white 
								   			shadow-md shadow-blue-500/50 font-bold roundend-lg hover:scale-[1.1] transition-discrete">LOGIN</button>
							   </div>
						</fieldset>
					   <div class="mt-8 text-center text-gray-500 hover:underline underline-offset-2">
							<a th:href="@{/SpringBlog/preview}">Continua senza effettuare il Login</a>								
					   </div>
					</form>
				</div>
			</div>	
		</div>
</body>
</html>