<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Icona -->
  <link rel="icon" href="/images/iconaLogin.PNG" type="image/png">
  <link rel="apple-touch-icon" href="  /images/iconaLogin.PNG">

<!-- Bootstrap CSS -->
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
	
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="Stylesheet" href="/css/style.css">

<title>SpringBlog - preview</title>
</head>
<body class="background-custom">
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		  <div class="container-fluid">
			<a class="navbar-brand" th:href="@{/SpringBlog/preview}">
			      <img 	src="/images/iconaLogin.PNG" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
			      <span class="fs-5">SpringBlog</span>
			</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    	<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"><a class="nav-link p-2" th:href="@{/login}">Login</a></li>
						<li class="nav-item"><a class="nav-link p-2" th:href="@{/utente/create}" >Registrati</a></li>
					</ul>    					
				</div>
		  </div>
		</nav>
		<section class="p-3">
			<div id="scrollmenu-container" class="container d-flex justify-content-center">
			          <div class="row d-flex scrollmenu align-items-cent text-center">
						<div class="col-auto p-1">
							<form>
								<button type="submit" th:text="Tutti"
									class="button-custom-categories text-center"></button>							
							</form>						
						</div>
			            <div th:each="categoria: ${categorieList}" class="col-auto p-1">
							<form>
				              <button type="submit" th:text="${categoria.getNome()}"
							  		class="button-custom-categories text-center"></button>							
							</form>
			            </div>
			          </div>
			        </div>
		</section>
		<section class="p-3">
			<div class="d-flex justify-content-center  align-items-center flex-column">
				<div th:each="post: ${postList}" class="card mb-3" style="width: 95%">
					<div class="card-header">
						<a class="nav-link p-0 d-flex align-items-center" th:href="@{'/utente/profilo/{id}'(id=${post.autore.getId()})}">
							<img class="rounded-circle mx-1" th:src="${post.autore.getImgProfilo()}" alt="immagine profilo" 
								style="width: 35px;height: 35px; border: 2px solid grey;">
							<strong><span class="ps-2" th:text="|${post.autore.getNome()} ${post.autore.getCognome()}|"></span></strong>
						</a>
					</div>
				  <ul class="list-group list-group-flush">
					<li class="list-group-item py-2 px-4"> 
						<div><strong th:text="${post.getTitolo()}"></strong></div>
						<div th:text="${post.getContenuto()}"></div>
					</li>
					<li th:if="${post.getUrlImmagine()}" class="list-group-item p-2 text-center">
						<img th:src="${post.getUrlImmagine()}" style="width: 100%;" alt="immagine post">
					</li>
				    <li class="list-group-item">
						<p class="d-flex justify-content-end">
							<a style="color: grey;">
								<i class="bi bi-hand-thumbs-up"></i>
							</a>
								<span class="p-1 me-2" style="font-size: 10px;">1</span>
							<a  data-bs-toggle="collapse" href="#multiCollapseExample1" 
						  		role="button" aria-expanded="false" aria-controls="multiCollapseExample1" style="color: grey;">
								<i class="bi bi-chat-left-text"></i>
							</a><span class="p-1" style="font-size: 10px;">1</span>
						</p>
						<div class="row">
						  <div class="col">
						    <div class="collapse multi-collapse" id="multiCollapseExample1">
						      <div class="card p-1">
								<div class="d-flex align-items-center">
									<img class="rounded-circle mx-1" th:src="${imgProfilo}" alt="immagine profilo"
										style="width: 35px;height: 35px; border: 2px solid grey;"> 
									
								</div>
									<span class="ps-5">Questo post non mi piace</span>							
							  	<div class="text-end" style="font-size: 8px;">
										Pubblicato il: 11/12/ 2024 alle 13:12		
							  	</div>	  
						    </div>
						  </div>
						</div>
					</li>
					<li class="list-group-item text-end" style="font-size: small;"
											th:text="|Pubblicato il: ${post.getGdo().getDayOfMonth()}-${post.getGdo().getMonthValue()}-${post.getGdo().getYear()}
												alle ${post.getGdo().getHour()}:${post.getGdo().getMinute()}|">
					</li>
				  </ul>
				</div>
			</div>
		</section>


	
	<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>